@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    font-family: "Poppins";
    /* background-color: "#FAFBFC" !important; */
}

.btn{
    border-radius: 10px;
    /* margin: 7px; */
    color: aliceblue !important;
}

.apps-bar {
    padding: 3px 81px;
    box-shadow: 0px 6px 10px rgba(170, 170, 170, 0.1) !important;
}
.border{
    border:solid red 1px;
}

.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
    box-shadow: 0px 6px 10px rgba(170, 170, 170,0.1) !important
}

.card-product{
    filter: drop-shadow(0px 4px 20px rgba(168, 168, 168, 0.1)) ;
    
}

